.character-card {
  margin: 2rem auto;
  width: 80%;
}

.App {
  background-color: whitesmoke;
  padding-bottom: 2rem;
}

.navbar {
  border-bottom: 1px solid gray;
}

.location-img {
  width: 356px !important;
  height: 256px !important;
}

img {
  border-radius: 0.3rem;
}

.content {
  padding-left: 2rem;
}
